:host {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: min(500px, 100%);
  box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.413);
  border-radius: 12px;
}

form {
  display: flex;
  flex-direction: column;
}
