<main>
  <section class="carousel">
    <h2 class="title">Welcome to My Page</h2>
  </section>
  <article>
    <div class="container">
      <div class="item-container">
        <h3 class="h3-item">Sacola 30x40</h3>
        <dl>
          <dt>Saber mais</dt>
          <dd>Saiba mais</dd>
        </dl>
      </div>
      <div class="item-container">
        <h3 class="h3-item">Sacola 30x40</h3>
        <dl>
          <dt>Saber mais</dt>
          <dd>Saiba mais</dd>
        </dl>
      </div>
      <div class="item-container">
        <h3 class="h3-item">Sacola 30x40</h3>
        <dl>
          <dt>Saber mais</dt>
          <dd>Saiba mais</dd>
        </dl>
      </div>
      <div class="item-container">
        <h3 class="h3-item">Sacola 30x40</h3>
        <dl>
          <dt>Saber mais</dt>
          <dd>Saiba mais</dd>
        </dl>
      </div>
      <div class="item-container">
        <h3 class="h3-item">Sacola 30x40</h3>
        <dl>
          <dt>Saber mais</dt>
          <dd>Saiba mais</dd>
        </dl>
      </div>
    </div>
  </article>
</main>
